<% include partials/header %>

<div class="container">
  <h1><%= title %></h1>
  <ul class="collection width-header">

    <% cartoonsEpList.forEach(function(show) { %>
      <li id="ep" class='collection-item'>
        <a href="/Ep<%= show.EpName %>" title="<%= show.EpName %>"><%= show.title %></a>
      </li>
    <% }) %>

  </ul>
</div>


<%include partials/footer %>
