<% include partials/header %>

<div class="container">
  <h1><%= title %></h1>
  <button id="signOut" type="button" onclick="signOut();">Sign Out</button>
  <button><a href="/home">Home</a></button>
  <input type="text" id="filterInput" placeholder="Search Episode">

  <ul class="collection width-header" id="showsUl">

    <% cartoonsEpList.forEach(function(show) { %>
      <li id="ep" class='collection-item'>
        <a href="/Ep<%= show.EpName %>" title="<%= show.EpName %>"><%= show.title %></a>
      </li>
    <% }) %>

  </ul>
</div>

<%include partials/footer %>
