<% include partials/header %>

<h1><%= title %></h1>

<a href="/cartoons"><button type="button" name="button">Cartoons</button></a>
<a href="/anime"><button type="button" name="button">Anime</button></a>
<a href="/movies"><button type="button" name="button">Movies</button></a>

<%include partials/footer %>
