<% include partials/header %>

<div class="container">
  <h1><%= title %></h1>
  <button id="signOut" type="button" onclick="signOut();">Sign Out</button>
  <button><a href="/home">Home</a></button>
  <div id="recentsContainer">
    <ul class="collection width-header">

    </ul>
  </div>
</div>


<%include partials/footer %>
